.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100%;
  color: white;
  position: relative;
  background-position-x: 10%;
  background-position-y: 10%;
  transition-timing-function: ease-in;
  animation-name: Background;
  animation-duration: 1s;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes Background {
  from {
    background-position-x: 0;
    background-position-y: 0;
  }

  to {
    background-position-x: 10%;
    background-position-y: 10%;
  }
}



.sevenVector {
  background-image: url('./assets/img/seven-vector.png');
  background-size: 100% 113%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-position: top center;
  top: 0;
  left: 0;
  z-index: 0;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  animation-name: App-logo;
  animation-duration: 2s;
}
@keyframes App-logo {
  from {
    background-size: 30% 30%;
  }

  to {
    background-size:100% 113%;
  }
}

.appContainer {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 50px;
  box-sizing: border-box;
}

.superior {
  padding-top: 26vh;
  font-weight: 600;
  text-align: left;
  opacity: 0;
}

.superior.active {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  animation-name: fadeIn;
  animation-duration: 2s;
}

.superiorTitle {
  font-size: 7.7vh;
}

.superiorSubtitle {
  font-size: 4.5vh;
  margin-left: 18vw;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menuWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 50px;
  z-index: 1;
  opacity: 0;
}

.menuWrapper.active {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  animation-name: fadeIn;
  animation-duration: 2s;
}

.menu {
  display: flex;
  border-right: 1px solid rgba(250, 250, 250, 0.3);
}

.menuItem {
  width: calc(calc(100vw - 100px) / 5);
  height: 100vh;
  border: 1px solid rgba(250, 250, 250, 0.3);
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menuItemInner {
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 24vh;
  margin-top: 20vh;
  border-top: 1px solid rgba(250, 250, 250, 0.3);
  border-bottom: 1px solid rgba(250, 250, 250, 0.3);
}

.menuItemInner.active,
.menuItemInner:hover {
  border: 2px solid rgba(250, 250, 250, 0.9);
}

.inferior {
  font-weight: 600;
  position: fixed;
  bottom: 50px;
  left: 0;
  display: flex;
  border-bottom: 1px solid rgba(250, 250, 250, 0.3);
  padding: 0 50px 50px;
  box-sizing: border-box;
  height: 300px;
  width: 100%;
  z-index: 4;
  opacity: 0;

}

.inferior.active {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  animation-name: fadeIn;
  animation-duration: 2s;
}

.inferiorInner {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.inferiorWrapper {
  width: 440px;
  text-align: right;
}
@media only screen and (min-width: 1200px) {
  .appContainer {
    padding: 0 100px;
  }

  .menuWrapper {
    padding: 0 100px;
  }

  .inferior {
    padding: 0 100px 50px;
  }
}
@media only screen and (min-width: 1400px) {
  .appContainer {
    padding: 0 100px;
  }

  .menuWrapper {
    padding: 0 100px;
  }

  .inferior {
    padding: 0 100px 50px;
  }
}
